body {
  background: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%) !important;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-weight: 700;
}

.lead {
  color: #fff;
  font-weight: 700;
}

.btn span {
  font-weight: 600;
}

.contactForm {
  background-color: #fff;
}

.trial {
  text-transform: uppercase;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
